body{
    background-color: blueviolet;
}

textarea{
    width: 100%;
    height: 200px;
}

h1{
    color: white;
    justify-content: center;
    text-align: center;
}

.progressBarContainer{
    border: 1px black solid;
    background-color: wheat;
    width: 30%;
    height: 10px;
}



/* Autre exo /////////////////ici je déclare une class */

.active{
    color: white;
    background-color: rgb(80, 76, 70);
    border: 1px solid black;
    padding: 10px;
}

.gif{
    visibility: hidden;
}





